
body {
    margin: 1px;
}

#lines {
    display: inline-block;
    font-family: monospace;
    margin-left: 10px;
    max-width: 100%;
}

#lines.has-side-bar {
    margin-left: 160px;
    max-width: calc(100% - 160px);
}

#lines > .tip {
    margin-left: 23px;
}

.line {
    padding: 0 15px;
    margin-left: 84pt;
    text-indent: -84pt;
    margin-bottom: 0;
    word-wrap: break-word;
    background-color: #000;
    color: #0f0;
}

.line.evt-info {
    color: #96969e;
}

.line.evt-error,
.line.log-error {
    color: #f00;
}

.loggers-list {
    margin-left: 12px;
}

h5 {
    margin-bottom: 10px;
}

#side-bar {
    position: fixed;
    display: inline-block;
    background-color: #fcffda;
    height: 95%;
    width: 150px;
    padding: 5px;
    padding-right: 0;
    border-radius: 3px;
    border: 1px solid #b9ce1c;
    overflow: scroll;
}

.client-label,
.logger-label {
    font-family: monospace;
}

@media only screen and (max-width: 500px) {
    #side-bar {
        position: relative;
        display: block;
        height: 150px;
        width: 95%;
    }

    #lines.has-side-bar {
        margin-left: 0;
        margin-top: 10px;
    }

    .line {
        padding: 0 5px;
        margin-left: 20pt;
        text-indent: -20pt;
    }
}

#side-bar.input {
    display: block;
}

.hidden-logger,
.hidden-client {
    display: none;
}

.tip {
    color: #999;
    font-size: 0.8em;
}

.tip:not(:only-child) {
    display: none;
}
