
body {
  margin: 1px;
}

#lines {
  display: inline-block;
  font-family: monospace;
  margin-left: 10px;
  max-width: 100%;
}

#lines.has-side-bar {
  margin-right: 160px;
  max-width: calc(100% - 160px);
}

#lines > .tip {
  margin-left: 23px;
}

.line {
  padding: 0 15px;
  margin-left: 50pt;
  text-indent: -50pt;
  margin-bottom: 0;
  word-wrap: break-word;
}

.loggers-list {
  margin-left: 12px;
}

h5 {
  margin-bottom: 10px;
}

#hide,
#show {
  float: right;
  margin-right: 3px;
  border: 1px solid #ccc;
  padding: 4px 10px;
  font-size: 1.1em;
}

#show {
  display: none;
  position: fixed;
  top: 3px;
  right: 3px;
  opacity: 0.5;
}

#side-bar {
  position: fixed;
  right: 0;
  display: inline-block;
  height: 95%;
  width: 150px;
  padding: 5px;
  padding-right: 0;
  border-radius: 3px;
  overflow: scroll;
}

.client-label,
.logger-label {
  font-family: monospace;
}

@media only screen and (max-width: 500px) {
  #side-bar {
    position: relative;
    display: block;
    height: 150px;
    width: 98%;
  }

  #lines.has-side-bar {
    margin-right: 0;
    margin-top: 10px;
    max-width: 100%;
  }

  .line {
    padding: 0 5px;
    margin-left: 20pt;
    text-indent: -20pt;
  }
}

#side-bar.input {
  display: block;
}

.hidden-logger,
.hidden-client {
  display: none;
}

.tip {
  font-size: 0.8em;
}

.tip:not(:only-child) {
  display: none;
}
